html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', helvetica, monospace;
    background: #e7e7e7;
}

.calc-header {
    text-align: center;
    font-size: 75px;
    font-family: 'Satisfy', cursive;
    text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    margin-bottom: 0;
}

.flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}

.calculator {
    width: 450px;
    height: 775px;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 2px 10px 2px #023E8A;
}

.screen {
    text-align: right;
    font-size: 100px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 125px;
}

.calc-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 45px;
    height: 100px;
    flex-basis: 24.5%;
    border-radius: 5px;
    margin: 5px;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.calc-button:last-child {
    background-color: #00B4D8;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #90E0EF;
}

.calc-button:last-child:active {
    background-color: #0096C7;
}

.double {
    flex-basis: 52%;
    border-radius: 5px;
}

.triple {
    flex-basis: 81%;
    border-radius: 5px;
}

@media screen and (max-width: 425px) {
    .calculator {
        width: 300px;
        height: 525px;
    }

    .calc-header {
        font-size: 40px;
    }

    .calc-button {
        font-size: 30px;
        height: 50px;
    }

    .screen {
        height: 100px;
    }

    .double {
        flex-basis: 60%;
    }
    .triple {
        flex-basis: 86%;
    }
}